// 品牌主色
$brand-primary: #38bda0;
$brand-secondary: #97bdba8c;

// 主題背景色
$theme-primary: #ffffff;
$theme-secondary: #e2eaf16e;

// 基本顏色
$warning: #af545ce7;
$infomation: #73aadd;
$lignt: #ffffff;
$dark: #6D747D;
$dark-transparent: #6d747d63;
$gray: #eaecee;

// 文字主色
$font-dark: #515355;
$font-gray: #AAB0B3;