<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title>單純用 vue.js cdn 做的簡單測試草稿</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
  <style>
    .slide-fade-enter-active {
      transition: all 0.8s ease;
    }

    .slide-fade-leave-active {
      transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
      transform: translateX(10px);
      opacity: 0;
    }

  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
      <div class="collapse navbar-collapse"
           id="navbarSupportedContent">
        <form class="form-inline"
              @submit.prevent="setFiltersWord">
          <input class="form-control mr-sm-2"
                 type="search"
                 placeholder="Search 國家名稱"
                 aria-label="Search"
                 @input="setFiltersWordInput" />
          <button class="btn btn-outline-success"
                  type="submit">
            Search
          </button>
        </form>
        <list-item :datas="branches"
                   :initial-data="currentBranch"
                   @checkbox-event="sortCovid_19"/>
      </div>
    </nav>
    <div class="container">
      <transition name="slide-fade"
                  appear>
        <div class="alert alert-warning"
             role="alert"
             v-if="isLoadFinish">
          截至今日世界已有
          <strong v-text="">
            {{ totalCases | perThousandDisplay }}
          </strong>
          人染疫。已有
          <strong> {{ totalDeaths | perThousandDisplay }} </strong>人染疫身亡。
        </div>
      </transition>
      <transition name="slide-fade"
                  appear>
        <p v-if="isLoadFinish">
          <small>共有 {{ COVID_19_DatasFilterTotalCases ? `${COVID_19_DatasFilterTotalCases}
              筆搜尋結果` : `0 匹配結果，請重新輸入國家名稱`}}</small>
        </p>
      </transition>
      <div class="row">
        <card-item v-for="(COVID_19_Data, index) of COVID_19_DatasFilterRank"
                   :index="index"
                   v-bind="COVID_19_Data" />
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script>
  </script>
</body>

</html>