<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0" />
  <title>單純用 vue.js cdn 做的簡單測試草稿</title>
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
        crossorigin="anonymous" />
  <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.css" />
  <style>
    .slide-fade-enter-active {
      transition: all 0.8s ease;
    }

    .slide-fade-leave-active {
      transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
    }

    .slide-fade-enter,
    .slide-fade-leave-to {
      transform: translateX(10px);
      opacity: 0;
    }
  </style>
</head>

<body>
  <div id="app">
    <nav class="navbar navbar-expand navbar-light bg-light mb-4">
      <div class="collapse navbar-collapse"
           id="navbarSupportedContent">
        <form class="form-inline"
              @submit.prevent="setFiltersWord">
          <input class="form-control mr-sm-2"
                 type="search"
                 placeholder="Search 國家名稱"
                 aria-label="Search"
                 @input="setFiltersWordInput" />
          <button class="btn btn-outline-success"
                  type="submit">
            Search
          </button>
        </form>
        <list-item :datas="branches"
                   :initial-data="currentBranch"
                   @checkbox-event="sortCovid_19"/>
      </div>
    </nav>
    <div class="container">
      <transition name="slide-fade"
                  appear>
        <div class="alert alert-warning"
             role="alert"
             v-if="isLoadFinish">
          截至今日世界已有
          <strong v-text="">
            {{ totalCases | pertThousandDisplay }}
          </strong>
          人染疫。已有
          <strong> {{ totalDeaths | pertThousandDisplay }} </strong>人染疫身亡。
        </div>
      </transition>
      <transition name="slide-fade"
                  appear>
        <p v-if="isLoadFinish">
          <small>共有 {{ COVID_19_DatasFilterTotalCases ? `${COVID_19_DatasFilterTotalCases}
              筆搜尋結果` : `0 匹配結果，請重新輸入國家名稱`}}</small>
        </p>
      </transition>
      <div class="row">
        <card-item v-for="(COVID_19_Data, index) of COVID_19_DatasFilterRank"
                   :index="index"
                   v-bind="COVID_19_Data" />
      </div>
    </div>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/nprogress/0.2.0/nprogress.min.js"></script>
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.js'></script>
  <script>
    const apiURL = "https://corona.lmao.ninja/v2/countries?yesterday&sort",
      data = {
        COVID_19_Datas: [],
        filtersWord: "",
        branches: [
          {
            name: "deaths",
            text: "死亡人數排序",
          },
          {
            name: "cases",
            text: "生病人數排序",
          },
          {
            name: "word",
            text: "國家字母排序",
          },
        ],
        currentBranch: "deaths",
        isLoadFinish: false,
      };

    // 在找可不可以只傳入原始型別，但 v-for 不寫在根元素上呢？
    Vue.component('listItem', {
      props: {
        initialData: {
          type: String,
          required: true,
        },
        datas: {
          type: Array,
          required: true
        }
      },
      data: function () {
        return {
          currentData: this.initialData
        }
      },
      watch: {
        currentData: {
          handler: function (value) {
            this.$emit('checkbox-event', value)
          }
        }
      },
      template: `
      <div>
        <div class="form-check form-check-inline ml-3">
          <label v-for="data in datas" class="form-check-label"
                 :for="data.name">
            <input class="form-check-input"
                   type="radio"
                   name="inlineRadioOptions"
                   :id="data.name"
                   :value="data.name"
                   v-model="currentData" />
            {{ data.text }}</label>
        </div>
      </div>`
    })

    Vue.component('cardItem', {
      props: {
        todayCases: {
          type: Number,
          required: true
        },
        todayDeaths: {
          type: Number,
          required: true
        },
        cases: {
          type: Number,
          required: true
        },
        deaths: {
          type: Number,
          required: true
        },
        population: {
          type: Number,
          required: true
        },
        updated: {
          type: Number,
          required: true
        },
        index: {
          type: Number,
          required: true
        },
        country: {
          type: String,
          required: true
        },
      },
      template: `<div
            class="col-lg-4 col-md-6"
          >
            <transition name="slide-fade" appear>
              <div class="card mb-4 border-success">
                <h5 class="card-header">
                  <strong>{{ index | DisplayArrayIndexNumber }}</strong>{{
                  country }}
                </h5>
                <div class="card-body">
                  <p class="card-text m-0">
                    今日確診人數: {{ todayCases | pertThousandDisplay }}
                  </p>
                  <p class="card-text m-0">
                    今日逝世人數: {{ todayDeaths | pertThousandDisplay
                    }}
                    <span class="badge badge-pill badge-danger">New</span>
                  </p>
                  <p class="card-text m-0">
                    逝世人數: {{ deaths | pertThousandDisplay }}
                    <span class="badge badge-pill badge-warning">Total</span>
                  </p>
                  <p class="card-text m-0">
                    確診人數: {{ cases | pertThousandDisplay }}
                  </p>
                  <p class="card-text m-0">
                    國家總人口: {{ population | pertThousandDisplay }}
                  </p>
                  <p class="card-text m-0">
                    最後更新時間: {{ updated | timeFormateDisplay }}
                  </p>
                </div>
              </div>
            </transition>
          </div>`,
      filters: {
        pertThousandDisplay(number) {
          if (!parseInt(number)) return `無 🏨`;
          else
            return parseInt(number).toLocaleString("zh-TW", {
              style: "decimal",
              useGrouping: true,
            });
        },
        DisplayArrayIndexNumber(number) {
          return `${parseInt(number) + 1}. `;
        },
        timeFormateDisplay(time) {
          const currentTime = new Date(),
            dataTime = new Date(time),
            passTime = currentTime.getTime() - dataTime.getTime(),
            countMinuteTime = 1000 * 60;
          return `${Math.ceil(passTime / countMinuteTime)} 分鐘前 📃`;
        },
      },
    })

    const vm = new Vue({
      el: "#app",
      data,
      created() {
        NProgress.start();
        this.fetchAPIData().then(() => {
          NProgress.done();
          this.isLoadFinish = true;
        });
      },
      computed: {
        totalCases() {
          return this.COVID_19_Datas.reduce((acc, cur) => acc + parseInt(cur.cases), 0);
        },
        totalDeaths() {
          return this.COVID_19_Datas.reduce((acc, cur) => acc + parseInt(cur.deaths), 0);
        },
        COVID_19_DatasFilter() {
          if (!this.filtersWord) return this.COVID_19_Datas;
          else
            return this.COVID_19_Datas.filter((data) => {
              const regExp = new RegExp(this.filtersWord, "i");
              if (regExp.test(data.country)) return data;
            });
        },
        COVID_19_DatasFilterTotalCases() {
          return this.COVID_19_DatasFilter.length;
        },
        COVID_19_DatasTotalCases() {
          return this.COVID_19_Datas.length;
        },
        COVID_19_DatasFilterRank() {
          switch (true) {
            case this.currentBranch === "word":
              return this.COVID_19_DatasFilter.sort((aft, bef) => {
                const aftWord = aft.country.slice(0, 1).toLowerCase().charCodeAt(),
                  befWord = bef.country.slice(0, 1).toLowerCase().charCodeAt();
                return aftWord - befWord;
              })
            case this.currentBranch === "deaths":
            case this.currentBranch === "cases":
              return this.COVID_19_DatasFilter.sort((aft, bef) => bef[this.currentBranch] - aft[this.currentBranch])
          }
        }
      },
      filters: {
        pertThousandDisplay(number) {
          if (!parseInt(number)) return `無 🏨`;
          else
            return parseInt(number).toLocaleString("zh-TW", {
              style: "decimal",
              useGrouping: true,
            });
        },
        DisplayArrayIndexNumber(number) {
          return `${parseInt(number) + 1}. `;
        },
        timeFormateDisplay(time) {
          const currentTime = new Date(),
            dataTime = new Date(time),
            passTime = currentTime.getTime() - dataTime.getTime(),
            countMinuteTime = 1000 * 60;
          return `${Math.ceil(passTime / countMinuteTime)} 分鐘前 📃`;
        },
      },
      methods: {
        fetchAPIData() {
          return fetch(apiURL)
            .then((response) => response.json())
            .then((data) => this.COVID_19_Datas = data)
            .catch((error) => console.error(error));
        },
        setFiltersWord(e) {
          this.filtersWord = e.target.firstElementChild.value;
        },
        setFiltersWordInput(e) {
          this.filtersWord = e.target.value.trim();
        },
        sortCovid_19(value) {
          this.currentBranch = value;
        }
      },
    });

  </script>
</body>

</html>