// 品牌主色
$brand-primary: #8785fa;
$brand-secondary: #c4bbf770;

// 主題背景色
$theme-primary: #ffffff;
$theme-secondary: #edf0f3a4;

// 基本顏色
$warning: #f53939e7;
$infomation: #73aadd;
$lignt: #ffffff;
$dark: #6D747D;
$dark-transparent: #6D747D20;
$gray: #eaecee;

// 文字主色
$font-dark: #515355;
$font-gray: #AAB0B3;