// 品牌主色
$brand-primary: #65e6b9;
$brand-secondary: #d7f8ea;

// 主題背景色
$theme-primary: #FFFFFF;
$theme-secondary: #F3F8F6;

// 基本顏色
$warning: #da6c58;
$infomation: #73aadd;
$lignt: #FFFFFF;
$dark: #6D747D;
$dark-transparent: #6D747D20;
$gray: #eaecee;

// 文字主色
$font-dark: #7f848b;
$font-gray: #AAB0B3;